*{
    font-family: 'Red Hat Display', sans-serif;
}
ol{
    margin-bottom: 10px;
    padding-left: 10px;
}
li{
    margin-bottom: 5px;
}

.container-rules{    
    width:100vw;
    display: flex;
    justify-content: center;

    text-align: justify;
    font-size: 12px;
    text-transform: uppercase;
}

.rules{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.titulo{
    font-weight: bold;
}

.header-reglamento{
    /* position: absolute;
    top: 0; */
    width: 100vw;
    height: 200px;
}
.nav-reglamento ul{
    display: flex;
    flex-wrap: wrap;
}
.header-reglamento li{
    list-style: none;
    margin: 5px
}