test.js
fechas.json
csv-to-json.py
fechas.py
partidos.csv
partidos.xlsm
positions.xlsm
positions.csv
positions.xlsx
camisetas.ai
formato.html
new-csv-to-json.py
object.py
camisetas_resultado.png
camisetas_resultado.webp
node_modules
package-lock.json
package.json

